h1 CoffeeScript Playground

.cs

  h2 CoffeeScript

  .run.button
    label Run

  textarea

.js

  h2 JavaScript

  textarea(disabled=true)

.console

  h2 Console

  .clear.button
    label Clear

  textarea(disabled=true)


.error
  p
