doctype html
html(lang='en')

  head
    link(rel='stylesheet' type='text/css' href='/css/main.css')
    script(type='text/javascript' src='/js/jquery-2.1.1.min.js')
    script(type='text/javascript' src='/js/coffee-script.js')
    script(type='text/javascript' src='/js/app.js')

  body
    != yield
