h1 Try It Out!

article.cs

  h2 CoffeeScript

  div.run.button
    label Run

  textarea

article.js

  h2 JavaScript

  textarea(disabled=true)

article.console

  h2 Console

  div.clear.button
    label Clear

  textarea(disabled=true)


article.error
  p
