doctype html
html(lang='en')
  head
    script(type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js')
    script(type='text/coffeescript').
      $(“body”).append “<p>Hello, world</p>”
  body
    h1 CoffeeScript Playground
