body
  font-family sans-serif
  margin 2rem

article
  width 45%
  display inline-block
  margin-right 2rem

  textarea
    height 20rem
    width 100%
    border none
    background #fcfcfc
    font-family monospace
    padding 0.5rem
    font-size 1.5rem

article.error
  margin-top 1rem
  width calc(90%+3rem)
  background-color #c99
  padding 0.5rem
  border-radius 0.25rem
  height 3rem

  p
    color #933

article
  h2, div.button
    display inline-block
    margin-right 1rem
    vertical-align middle

div.button
  width 4rem
  border-radius 0.25rem
  border 1px solid #393
  padding 0.5rem
  color #393
  background #9c9
  font-weight bold
  text-align center

  label
    color #393

div.button:hover
  background #ada

article.console
  width calc(90% + 3rem)

  textarea
    height 8rem
